


div.col-10{background-color: #007FFF;}

div.col-2{background-color: #93DB70; }

div p.ABC{color: #FFFF00;}

div p.vermelho{color: red;}

div p.a{color: #6B238E;}

div p.verm{color: red;}

div img.bolt{max-width: 200; max-height: 200px; border-radius: 100px; }
